<h2>Open Multiplayer Games</h2>
<% testgame = Game.where(:name => "Testing Grounds").first %>
<%= link_to 'Play Test Game', testgame, :class => "btn btn-success" %>
<br><br>
<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Time Created</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Joinable </th>
    </tr>
  </thead>
  <tbody>
    <% if Game.where('player1 IS NULL').count-1 == 0 %>
    <tr><td colspan='4'> No open games right now! Resume your current games, or create a new one! </td><td><%= link_to 'Create New Game', new_game_path, :class => "btn btn-inverse" %></td></tr>
    <% end %>
    <% @games.each do |game| %>
    <% if game.name == "Testing Grounds" %>
    <% else %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.created_at %></td>
      <td><%= game.player0 %></td>
      <td>
      <% if game.player1 == nil %>
        *Open*
      <% else %>
        <%= game.player1 %>
      <% end %>
      </td>
      <td>
        <% if current_user != nil %>
          <% if current_user.username == game.player0 or \
              current_user.username == game.player1 %>
            <%= link_to 'Resume', game, :class => "btn btn-success" %>
          <% elsif game.player1 == nil %>
            <%= link_to 'Join', game, :class => "btn btn-success" %>
          <% elsif (!game.code0.nil? and !game.code1.nil?) %>
            <%= link_to 'Watch', game_path(game)+'/watch', :class => "btn btn-info" %>
          <% else %>
            *Game full!*
          <% end %>
        <% elsif (!game.code0.nil? and !game.code1.nil?) %>
          <%= link_to 'Watch', game_path(game)+'/watch', :class => "btn btn-info" %>
        <% else %>
          Sign in!
        <% end %>
      </td>
    </tr>
    <% end %>
    <% if @games.empty? %>
      <tr><td colspan="5">No games are currently open.</td></tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create New Game', new_game_path, :class => "btn btn-inverse" %>
<% if current_user != nil && (current_user.username == "zoator" or current_user.username == "korc") %>
  <%= link_to 'Delete All Games', {:action => 'delete_all_games'}, :class => "btn btn-danger" %>
<% end %>
