<h2>Open Games</h2>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Time Created</th>
      <th>Player 0</th>
      <th>Player 1</th>
      <th>Joinable </th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.created_at %></td>
      <td><%= game.player0 %></td>
      <td>
      <% if game.player1 == nil %>
        *Open*
      <% else %>
        <%= game.player1 %>
      <% end %>
      </td>
      <td><% if current_user.username == game.player0 or \
              current_user.username == game.player1 %>
            <%= link_to 'Resume Game', game, :class => "btn" %>
          <% else %>
            <% if game.player1 == nil %>
              <%= link_to 'Join Game', game, :class => "btn" %>
            <% else %>
              *Game full!*
            <% end %>
          <% end %>
      </td>
    </tr>
    <% end %>
    <% if @games.empty? %>
      <tr><td colspan="2">No games are currently open.</td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create Game', new_game_path, :class => "btn btn-inverse" %>
<%= link_to 'Delete All Games', {:action => 'delete_all_games'}, :class => "btn btn-danger" %>
