<% content_for :head do %>
  <!--Load up them libraries-->
  <script type="text/javascript" src="http://cdn.craftycomponents.com/crafty-release.js"></script>
  <script src="http://github.com/cowboy/jquery-dotimeout/raw/v1.0/jquery.ba-dotimeout.js"></script>
  <!-- Include game javascript file -->
  <%= javascript_include_tag "BinaryHeap" %>
  <%= javascript_include_tag "xengine" %>
  <%= javascript_include_tag "swarmgame" %>
  <%= javascript_include_tag "swarmgui" %>

<% end %>
<div id="game_box">
  <h1><%= @game.name %></h1>
  <div id="cr-stage">
    <script type="text/javascript">
      RunGame();
    </script>
  </div>
  <div id="game_ui">
    <script type="text/javascript">
      CreateGUI();
    </script>
  </div>
</div>
