<% content_for :head do %>
  <!--Load up them libraries-->
  <script src="http://craftyjs.com/release/0.5.3/crafty.js" type="text/javascript"></script>
  <script> if (typeof(Crafty) == "undefined") document.write('<script src="/assets/backup/crafty-release.js">\x3C/script>')</script>
  <script src="http://github.com/cowboy/jquery-dotimeout/raw/v1.0/jquery.ba-dotimeout.js"></script>
  <script> if (typeof($.doTimeout) != "function") document.write('<script src="/assets/backup/jquery.ba-dotimeout.js">\x3C/script>')</script>
  <!-- Include game javascript file -->
  <%= javascript_include_tag "BinaryHeap" %>
  <%= javascript_include_tag "xengine" %>
  <%= javascript_include_tag "swarmgame" %>
  <%= javascript_include_tag "swarmgui" %>


<% end %>
<div id="game_box">
  <h1><%= @game.name %></h1>
  <h2>You are 
    <% if @game.player0 == current_user.username %> <span style='color:green'>Green</span>
    <script>me = 0;</script><% else %>
    <% if @game.player1 == current_user.username %> <span style='color:red'>Red</span> 
    <script>me = 1;</script><% else %> spectating 
    <script>me = -1;</script><% end %><% end %>
  </h2>
  <div id="cr-stage">
    <script type="text/javascript">
      RunGame();
    </script>
  </div>
  <div id="game_ui">
    <script type="text/javascript">
      CreateGUI();
    </script>
  </div>
</div>
