<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swarm Combat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag "application" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster NOTE: NO LONGER TRUE -->
    <%= javascript_include_tag "application" %>
	  <%= yield :head %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Swarm Combat", root_url, :class => "brand" %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_url%></li>
              <li><%= link_to "Strats", orders_path%></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          <div class="nav-collapse collapse" style="float:right">
            <ul class="nav">
              <% if current_user %>
                <li><h5 style="color:white">Welcome, <%= current_user.username %>!</h5></li>
                <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Register", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div> <!-- /container -->

  </body>
</html>

